<template name="messageInput">

    {{#if currentUser}}
        <form id="message-input" action="">
            <div class="ui fluid icon action input">
                <input name="message" type="text" placeholder="Type your message"/>
                <i id="take-picture" class="circular photo link icon"></i>
                <button class="ui button" type="submit">Send</button>
            </div>
        </form>
    {{else}}
        <div id="login-welcome" class="ui inverted blue center aligned segment">
            Please sign in and join the conversation!
        </div>
    {{/if}}

    <canvas id="camera"></canvas>

</template>