<template name="messageInput">

    {{#if currentUser}}
        <form id="message-input" action="">
            <div class="ui fluid action input">
                <input name="message" type="text" placeholder="Type your message"/>
                <button class="ui button" type="submit">Send</button>
            </div>
        </form>
    {{else}}
        <div id="login-welcome" class="ui inverted blue center aligned segment">
            Please sign in and join the conversation!
        </div>
    {{/if}}

</template>